/Gomez_Jocsan_ PIRAMIDE/nbproject/private/
/Gomez_Jocsan_ PIRAMIDE/build/
/Gomez_Jocsan_EL MAYOR/nbproject/private/
/Gomez_Jocsan_EL MAYOR/build/
/Gomez_Jocsan_CARACTERESVOCALES/nbproject/private/
/Gomez_Jocsan_CARACTERESVOCALES/build/
/Gomez_Jocsan_COMPRACANALES/nbproject/private/
/Gomez_Jocsan_COMPRACANALES/build/
/Gomez_Jocsan_EXAMEN1/nbproject/private/
/Gomez_Jocsan_EXAMEN1/build/
